input[type="Button"]{width:80px; padding: 10px; background-color: aquamarine;text-align: center;}
script scr
input[type="Boton1"]{
    width:80px;
     padding: 20px;background-color: aquamarine;
     text-align: center;}